Дана статистика заболеваемости коронавирусом за определенный промежуток в разных странах, записанная в файл covid-19cases.csv. Необходимо:

Произвести очистку данных, убрав пустые столбцы и неинформативные строки (строки, выделенные для заметок for Notes)
Определить статистику случаев заражения в разных частях света (столбец continent) за каждый месяц
Определить корреляцию каждой части света с другой.
Вывести название части света, которая меньше всего коррелирует с другими

In [1]:
import pandas as pd
%run pipeline.ipynb

In [2]:
df=pd.read_csv('datasets/covid-19cases.csv')
df.head()

,Unnamed: 0,date,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Unnamed: 40,Unnamed: 41,iso_code,month,year
0,0,13-03-20,North America,Aruba,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW,3.0,20.0
1,1,For Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,19-03-20,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,...,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW,3.0,20.0
3,3,For Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20-03-20,North America,Aruba,4.0,2.0,0.286,NaN,0.0,0.0,...,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW,3.0,20.0

In [3]:
pipe.info.getInfo(df)

,DataType,Values,Null,Missing Rate,Unique,Useless
Unnamed: 0,int64,105748,0,0.00%,105748,True
date,object,105748,0,0.00%,303,False
continent,object,52269,53479,50.57%,6,False
location,object,52873,52875,50.00%,214,False
total_cases,float64,49259,56489,53.42%,20313,False
new_cases,float64,51979,53769,50.85%,4799,False
new_cases_smoothed,float64,51185,54563,51.60%,10278,False
total_deaths,float64,40323,65425,61.87%,6871,False
new_deaths,float64,51979,53769,50.85%,1143,False
new_deaths_smoothed,float64,51185,54563,51.60%,2518,False
total_cases_per_million,float64,48993,56755,53.67%,34191,False
new_cases_per_million,float64,51915,53833,50.91%,18743,False
new_cases_smoothed_per_million,float64,51120,54628,51.66%,21591,False
total_deaths_per_million,float64,40072,65676,62.11%,17935,False
new_deaths_per_million,float64,51915,53833,50.91%,3397,False
new_deaths_smoothed_per_million,float64,51120,54628,51.66%,4093,False
total_tests,float64,20007,85741,81.08%,19378,False
new_tests,float64,19844,85904,81.23%,11415,False
total_tests_per_thousand,float64,20007,85741,81.08%,16220,False
new_tests_per_thousand,float64,19844,85904,81.23%,3506,False
new_tests_smoothed,float64,22220,83528,78.99%,12745,False
new_tests_smoothed_per_thousand,float64,22220,83528,78.99%,3598,False
tests_per_case,float64,20536,85212,80.58%,17874,False
positive_rate,float64,20880,84868,80.25%,542,False
tests_units,object,23217,82531,78.04%,5,False
stringency_index,float64,43997,61751,58.39%,171,False
population,float64,52571,53177,50.29%,213,False
population_density,float64,50123,55625,52.60%,201,False
median_age,float64,47079,58669,55.48%,134,False
aged_65_older,float64,46373,59375,56.15%,184,False
aged_70_older,float64,46834,58914,55.71%,183,False
gdp_per_capita,float64,46455,59293,56.07%,185,False
extreme_poverty,float64,30975,74773,70.71%,74,False
cardiovasc_death_rate,float64,47052,58696,55.51%,187,False
diabetes_prevalence,float64,48759,56989,53.89%,142,False
female_smokers,float64,36694,69054,65.30%,107,False
male_smokers,float64,36223,69525,65.75%,122,False
handwashing_facilities,float64,22198,83550,79.01%,93,False
hospital_beds_per_thousand,float64,42423,63325,59.88%,100,False
life_expectancy,float64,51899,53849,50.92%,198,False
human_development_index,float64,45419,60329,57.05%,156,False
Unnamed: 40,float64,0,105748,100.00%,0,False
Unnamed: 41,float64,0,105748,100.00%,0,False
iso_code,object,52571,53177,50.29%,213,False
month,float64,52873,52875,50.00%,11,False
year,float64,52873,52875,50.00%,2,False

Удаление пустых столбцов и индексов

In [4]:
df=df.drop(columns=['Unnamed: 0','Unnamed: 40','Unnamed: 41'])

Удаление строк "For Note"

In [5]:
df['date']=pd.to_datetime(df['date'], errors='coerce')
df=df[df['date'].notnull()]

In [ ]:
Группировка по месяцам, континентам

In [6]:
grupped=df.groupby(['month','year','continent'])['total_cases'].count()

In [7]:
df_grupped=pd.DataFrame(grupped).reset_index()
df_grupped

    month  year      continent  total_cases
0     1.0  20.0         Africa            0
1     1.0  20.0           Asia          137
2     1.0  20.0         Europe           14
3     1.0  20.0  North America           35
4     1.0  20.0        Oceania            7
..    ...   ...            ...          ...
61   12.0  19.0           Asia            1
62   12.0  19.0         Europe            0
63   12.0  19.0  North America            0
64   12.0  19.0        Oceania            0
65   12.0  19.0  South America            0

[66 rows x 4 columns]

Поиск наименьшей корреляции

In [14]:
corr=df_grupped.pivot_table(columns='continent', index=['month','year']).corr().reset_index()
corr['total_cases'].mean().sort_values()

continent
Europe           0.979976
Asia             0.982168
Africa           0.986393
Oceania          0.987303
North America    0.987316
South America    0.989153
dtype: float64